{% extends "profile/base_profile.html.twig" %}

{% block sideContent %}

    <!--messagerie-->
    <div class="table-responsive">
        <table class="table table-striped mb-5" id="messageTable">
            <thead>
                <tr style="background-color: #ff8300;">
                    <th style="color: white">
                        <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseMessageForm" role="button" aria-expanded="false" aria-controls="collapseMessageForm">
                            <i class="fad fa-edit mr-2 text-white"></i> CONTACTER UN ADMINISTRATEUR
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="collapse" id="collapseMessageForm">
                        {{ render (controller('App\\Controller\\MessageController::new')) }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped mb-5">
            <thead>
                <tr style="background-color: #ff8300;">
                    <th style="color: white" colspan="5"><i class="fad fa-envelope mr-2 text-white"></i> BOITE DE RECEPTION</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Expéditeur</th>
                    <th>Objet</th>
                    <th>Contenu</th>
                </tr>
            </thead>
            <tbody>
                {% for message in user.messagesRecus %}
                    <tr>
                        <td>
                            {# Modal pour voir un message #}
                            <a href="#" type="button" class="m-0" data-toggle="modal" data-target="#showMessageModal{{ message.id }}">
                                <i class="fad fa-eye"></i>
                            </a>
                            <div class="modal fade text-left" id="showMessageModal{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="showMessageModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title text-uppercase font-weight-bold">Message reçu</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body font-weight-normal p-0">
                                            {% include "message/show.html.twig" %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Fin de la modal voir message #}

                            {# Lien pour répondre à un message #}
                            <a href="#" class="repondre" data-expediteur-id="{{ message.expediteur.id }}">
                                <i class="fad fa-reply px-2 py-2"></i>
                            </a>
                            {# Fin lien pour répondre à un message #}
                        </td>
                        <td>{{ message.createdAt|date('d/m/Y') }}</td>
                        <td>{{ message.expediteur.nomComplet }}</td>
                        <td>{{ message.objet }}</td>
                        <td>{{ message.contenu|u.truncate(230, '...')|raw }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    $('.repondre').on('click', (e) => {
        console.log('click')
        $('.modal').modal('hide');
        $('#collapseMessageForm').collapse('show');
        $('#messageTable').get(0).scrollIntoView();
        $('#message_destinataire option[value="' + $(e.currentTarget).data('expediteurId') + '"]').prop('selected', true);
        e.preventDefault();
    });

     $('.repondreModal').on('click', (e) => {
        console.log('click')
        $('.modal').modal('hide');
        setTimeout(function() {
            $('#collapseMessageForm').collapse('show');
            $('#messageTable').get(0).scrollIntoView();
            $('#message_destinataire option[value="' + $(e.currentTarget).data('expediteurId') + '"]').prop('selected', true);
        }, 500);
        e.preventDefault();
    });
</script>
{% endblock %}