{% extends 'base_dashboard.html.twig' %}


{% block title %}Dashboard / Liste des médias{% endblock %}

{% block body %}
    <div id="media-list" class="container-fluid">
        <h1>Liste des médias</h1>
        <div class="col-12  mt-5 mb-3">
            <a href="{{ path('media_new') }}" class="btn btn-style">Nouveau média</a>
        </div>
        <div class="table-responsive card px-2 py-2">
            <table id="example1" class="table table-bordered table-striped  mx-2 my-2">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th width="20%">Actions</th>
                        <th>Nom du fichier</th>
                        <th width="25%">Miniature du fichier</th>
                        <th>Url de la vidéo YouTube</th>
                        <th width="20%">Description</th>
                        <th>Titre</th>
                        <th width="10%">FacebookLink</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th>Type de média</th>
                        <th>IsDisplayed</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="text-center">
                        <th>Id</th>
                        <th width="20%">Actions</th>
                        <th>Nom du fichier</th>
                        <th width="25%">Miniature du fichier</th>
                        <th>Url de la vidéo YouTube</th>
                        <th width="20%">Description</th>
                        <th>Titre</th>
                        <th width="10%">FacebookLink</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th>Type de média</th>
                        <th>IsDisplayed</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for medium in media %}
                    <tr class="text-center">
                        <td>{{ medium.id }}</td>
                        <td>
                            {# Modal pour voir un média #}
                                <a href="" type="button" class="m-0" data-toggle="modal" data-target="#showMediaModal{{ medium.id }}">
                                    <i class="fad fa-eye"></i>
                                </a>
                                <div class="modal fade text-left" id="showMediaModal{{ medium.id }}" tabindex="-1" role="dialog" aria-labelledby="showMediaModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title text-uppercase font-weight-bold">Consulter</h6>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body font-weight-normal p-0">
                                                {% include "media/show.html.twig" %}

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {# Fin de la modal voir un utilisateur #}

                            {# Lien pour modifier un utilisateur #}
                            <a href="{{ path('media_edit', {'id': medium.id}) }}">
                                <i class="fad fa-edit px-2 py-2"></i>
                            </a>
                            {# Fin lien pour modifier un utilisateur #}

                            {# Modal pour supprimer un utilisateur #}
                                <a href="" type="button" class="m-0" data-toggle="modal" data-target="#deleteMediaModal{{ medium.id }}">
                                    <i class="fad fa-trash-alt"></i>
                                </a>
                                <div class="modal fade text-left" id="deleteMediaModal{{ medium.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteMediaModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-uppercase font-weight-bold">Voulez-vous supprimer cet utilisateur : {{ medium.nom }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body font-weight-normal">
                                                <div class="col font-weight-bold">
                                                    Nom de l'image : {{ medium.nom }}
                                                </div>
                                                <div class="modal-body font-weight-normal">
                                                    <div class="col">
                                                    </div>
                                                    <div class="col">
                                                    </div>
                                                    <div class="col">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    {% include "media/_delete_form.html.twig" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {# Fin de la modal supprimer un utilisateur #}
                        </td>
                        <td>
                            {{ medium.nom }}
                        </td>
                        <td>
                            <img id='MediaImage' alt="" class="img-fluid" src="{{ medium.nom ? asset('/uploads/' ~ medium.nom) : asset('/images/logo.svg') }}">
                        </td>
                        <td>
                            <a href="{{ medium.url }}">{{ medium.url }}</a>
                        </td>
                        <td>
                            {{ medium.description }}
                        </td>
                        <td>
                            {{ medium.titre }}
                        </td>
                        <td>
                            <a href="{{ medium.facebookLink }}">{{ medium.facebookLink }}</a>
                        </td>
                        <td>
                            {{ medium.createdAt ? medium.createdAt|date('d-m-Y' ~ ' ' ~ 'à' ~ ' ' ~ 'H:i:s') : '' }}
                        </td>
                        <td>
                            {{ medium.updatedAt ? medium.updatedAt|date('d-m-Y' ~ ' ' ~ 'à' ~ ' ' ~ 'H:i:s') : '' }}
                        </td>
                        <td>
                            {% if medium.mediaCategory %}
                                {{ medium.mediaCategory.name }}
                            {% endif %}
                        </td>
                        <td>
                            <form action="{{ path('media_toggleDisplayed', {'id': medium.id }) }}" method="POST">
                                <input type="hidden" name="id" value="{{ medium.id }}">
                                <input type="hidden" name="isDisplayed" value="{{ medium.isDisplayed }}">
                                <input type="submit" class="m-0 alert alert-{{ medium.isDisplayed == 1 ? 'success' : 'danger' }}" value="{{ medium.isDisplayed == 1 ? 'Oui' : 'Non' }}">
                            </form>
                            {# <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" {{ medium.isDisplayed ? 'checked' : '' }}>
                                <label class="form-check-label" for="defaultCheck1">
                                    {% if medium.isDisplayed == 1 %}
                                    <span class="text-success">Affiché en front</span>
                                    {% else %}
                                    <span class="text-danger">Pas affiché</span>
                                    {% endif %}
                                </label>
                            </div> #}
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas d'enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
