{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/sepalavoile/src/Controller/PanierController.php'|file_link(0) }}">src/Controller/PanierController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/sepalavoile/templates/panier/index.html.twig'|file_link(0) }}">templates/panier/index.html.twig</a></code></li>
    </ul>

    <h3>Contenu du panier</h4>
    <ul>
        {% for typeProduit, produits in panier %}
            <li>
                {{ typeProduit }}
                <ul>
                    {% for produitId, produitData in produits %}
                        {% if (typeProduit == constant('App\\Entity\\ProduitType::PRODUIT_TYPE_EVENT_NAME')) %}
                            {% for creneau, reservation in produitData %}
                                <li>{{ reservation.produit_nom }} - {{ reservation.creneau_debut|date('Y-m-d H:i:s') }}
                                 - {{ reservation.creneau_fin|date('Y-m-d H:i:s') }} - {{ reservation.quantite }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{{ path('panier_validate') }}">Valider mon panier</a>
</div>
{% endblock %}
