{% extends 'carousel.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block content %}

{% set total = 0 %}

<div class="container mb-5">
    <h1 class="titresection">Mon panier</h1>
    {% if (panier is empty) %}
        <p class="text-center">Votre panier est vide.</p>
    {% else %}
        {% if panier['achats'] is defined %}
            <h5 style="color: #ff8300; font-weight: bold">ACHATS</h5>
            <div class="table-responsive">
                <table class="table table-striped mb-5">
                    <thead>
                        <tr>
                            <th style="width: 30%">Produit</th>
                            <th style="width: 30%">Type</th>
                            <th style="width: 15%"></th>
                            <th class="text-right" style="width: 25%">Sous-total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for achat in panier['achats'] %}
                            {% set total = total + achat.prixPaye %}
                            <tr>
                                <td>{{ achat.produit_nom }}</td>
                                <td>{{ achat.produit_type }}</td>
                                <td></td>
                                <td class="text-right">{{ achat.prixPaye }} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if panier['reservations'] is defined %}
            <h5 style="color: #ff8300; font-weight: bold">RESERVATIONS</h5>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 30%">Produit</th>
                            <th style="width: 30%">Créneau</th>
                            <th style="width: 15%">Quantité</th>
                            <th class="text-right" style="width: 25%">Sous-total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservationsProduit in panier['reservations'] %}
                            {% for reservation in reservationsProduit %}
                                {% set total = total + reservation.quantite * reservation.prixPaye %}
                                <tr>
                                    <td>{{ reservation.produit_nom }}</td>
                                    <td>{{ reservation.creneau_debut|date('d/m/Y H:i:s') }}</td>
                                    <td>{{ reservation.quantite }}</td>
                                    <td class="text-right">{{ reservation.quantite * reservation.prixPaye }} €</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="row mt-5 mb-4 justify-content-center">
            <h5 class="font-weight-bold">TOTAL : <span style="color: #ff8300;">{{ total }} €</span></h5>
        </div>
        <div class="row mb-5 justify-content-center">
            <button type="button" id="checkout-button" class="btn btn-style">Valider mon panier</button>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51IEbyABN8DgmFBU05oq1ulGhfMGLkDwHMmhUShIAeZ8qIYwpKrzrvzTqDI0pNLrtKGFbuTJoD2yEViZm4FqD43jP00qjcWgUT9');
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch('/checkout', {
                method: 'POST',
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function(result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %}
