{{ form_start(form) }}
    <div id="form-new-partner" class="container bg-light rounded">
            <div class="row bg-light border-bottom border-right border-left">
                <div class="col-12 mt-5 pb-4">
                    <div class="col-12 mt-5">
                        <ul class="list-group list-group-flush">
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-id-badge"></i></div>
                                    <div class="col-4">{{ form_label(form.titre) }}</div>
                                    <div class="col-6 p-0">{{ form_widget(form.titre, {'attr': {'placeholder': 'Titre du sondage'}}) }}</div>
                                </div>
                            </li>
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-calendar-check"></i></div>
                                    <div class="col-4">{{ form_label(form.description) }}</div>
                                    <div class="col-6 p-0">{{ form_widget(form.description) }}</div>
                                </div>
                            </li>
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-calendar-check"></i></div>
                                    <div class="col-4">{{ form_label(form.createdAt) }}</div>
                                    <div class="col-6 p-0">{{ form_widget(form.createdAt, {'attr': {'placeholder': 'Date'}}) }}</div>
                                </div>
                            </li>
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-calendar-check"></i></div>
                                    <div class="col-4">{{ form_label(form.StopAt) }}</div>
                                    <div class="col-6 p-0">{{ form_widget(form.StopAt, {'attr': {'placeholder': 'Date'}}) }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 text-right p-4">
                    <a href="{{ path('partners_index') }}" class="btn btn-secondary">Annuler</a>
                    <button class="btn btn-style">{{ button_label|default('Valider') }}</button>
                </div>
            </div>
        </div>
{{ form_end(form) }}
