{% extends 'base_dashboard.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <div id="user-list" class="container-fluid">
        <h1>Liste des produits</h1>
        <div class="col-12  mt-5 mb-4">
            <a href="{{ path('produit_new') }}" class="btn btn-style">Nouveau produit</a>
        </div>
        <div class="table-responsive card px-2 py-2">
            <table id="example1" class="table table-bordered table-striped mx-2 my-2">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th width="10%">Actions</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Ville</th>
                        <th>Prix</th>
                        <th>LimitePart.</th>
                        <th>Durée</th>
                        <th>DebutVente</th>
                        <th>FinVente</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Actions</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Ville</th>
                        <th>Prix</th>
                        <th>LimitePart.</th>
                        <th>Durée</th>
                        <th>DebutVente</th>
                        <th>FinVente</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for produit in produits %}
                    <tr>
                        <td class="text-center">
                            {{ produit.id }}
                        </td>
                        <td class="text-center">
                            {# Modal pour voir un produit #}
                            <a href="" type="button" class="m-0" data-toggle="modal" data-target="#showProduitModal{{ produit.id }}">
                                <i class="fad fa-eye"></i>
                            </a>
                            <div class="modal fade text-left" id="showProduitModal{{ produit.id }}" tabindex="-1" role="dialog" aria-labelledby="showProduitModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title text-uppercase font-weight-bold">Consulter</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body font-weight-normal p-0">
                                            {% include "produit/admin/show.html.twig" %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Fin de la modal voir produit #}

                            {# Lien pour modifier un événement #}
                            <a href="{{ path('produit_edit', {'id': produit.id}) }}">
                                <i class="fad fa-user-edit px-2 py-2"></i>
                            </a>
                            {# Fin lien pour modifier un événement #}

                            {# Modal pour supprimer un événement #}
                            <a href="" type="button" class="m-0" data-toggle="modal" data-target="#deleteProduitModal{{ produit.id }}">
                                <i class="fad fa-trash-alt"></i>
                            </a>
                            <div class="modal fade text-left" id="deleteProduitModal{{ produit.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteProduitModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title text-uppercase font-weight-bold">Suppression</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body font-weight-normal">
                                            <div class="col font-weight-bold">
                                                Produit : {{ produit.nom }}
                                            </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            {% include "produit/_delete_form.html.twig" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Fin de la modal supprimer événement #}
                        </td>
                        <td class="text-center">
                            {{ produit.nom }}
                        </td>
                        <td>
                            {{ produit.description|u.truncate(230, '...')|raw }}
                        </td>
                        <td class="text-center">
                            {{ produit.produitType.nom }}
                        </td>
                        <td class="text-center">
                            {{ produit.ville }}
                        </td>
                        <td class="text-center">
                            {{ produit.prix }}
                        </td>
                        <td class="text-center">
                            {{ produit.limiteParticipation }}
                        </td>
                        <td class="text-center">
                            {{ produit.duree }}
                        </td>
                        <td class="text-center">
                            {{ produit.debutVente ? produit.debutVente|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td class="text-center">
                            {{ produit.finVente ? produit.finVente|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td class="text-center">
                            {{ produit.createdAt|date('Y-m-d H:i:s') }}
                        </td>
                        <td class="text-center">
                            {{ produit.updatedAt ? produit.updatedAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas d'enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}