{% extends 'carousel.html.twig' %}

{% block title %}Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('produit') }}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row subheader text-center">
            <div class="col-12 col-md-4 text-white p-4 border-right"><h4 class="mb-0"><i class="fas fa-heart mr-3"></i>DONATION</h4></div>
            <div class="col-12 col-md-4 text-white p-4 border-right"><h4 class="mb-0"><i class="fas fa-clock mr-3"></i>JUSQU'AU {{ produit.finVente|date('d/m/Y') }}</h4></div>
            <div class="col-12 col-md-4 text-white p-4"><h4 class="mb-0"><i class="fas fa-hand-holding-usd mr-3"></i></i>{{ produit.limiteParticipation }} €</h4></div>
        </div>
    </div>

    {{ include('produit/evenement/_modal_disponibilite.html.twig', {'button_label': 'Update'}) }}

    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4"><img src="{{ produit.medias|first.url }}" class="img-produit"></div>
            <div class="col-12 col-lg-6">
                <h1 class="titresection">{{ produit.nom }}</h1>
                <p class="text-produit">{{ produit.description|raw }}</p>
            </div>
            <div class="col-12 col-lg-2">
                <h3 class="titresection">Participez</h3>
                <p class="text-produit text-center">A partir de {{ produit.prix }} €</p>
                <h3 class="titresection">Progression</h3>
                <div class="progression-bar mb-2 text-center" style="background: linear-gradient(to right, #ff8300 {{ produit.percentageParticipation }}%, white {{ produit.percentageParticipation }}%);">
                    <span>{{ produit.percentageParticipation|round }} %</span>
                </div>
                <p class="text-produit text-center">{{ produit.participation }} / {{ produit.limiteParticipation }} €</p>
            </div>
        </div>
    </div>

    <div class="container-fluid sticky-footer border py-3">
        <a href="{{ path('produit_index') }}" class="btn btn-darkgrey" >Revenir aux produits</a>
        <a href="{{ path('produit_donation', {'id': produit.id}) }}" class="btn btn-darkgrey float-right">Donner !</a>
        <a href="https://www.helloasso.com/associations/sep-a-la-voile/collectes/sep-a-la-voile" class="btn btn-darkgrey-inverse float-right mr-3" target="_blank">Donner sur HelloAsso</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('produit') }}
{% endblock %}