{% block body %}
        <div id="show_user" class="container bg-light rounded">
            <div class="row border-bottom py-3 px-5">
                <div class="col-6">
                    <h1 class="text-uppercase text-left m-0">
                        Galerie : {{ galerie.nom }}
                    </h1>
                </div>
                <div class="col-6 text-right my-auto">
                    <span class="text-muted mr-2 font-italic">
                        Modifier la catégorie :
                    </span>
                    <a href="{{ path('galerie_edit', {'id': galerie.id}) }}">
                        <i class="fad fa-user-edit"></i>
                    </a>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col-8 my-5 pl-5 border-left-profil ">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-id-card-alt"></i></div>
                                    <div class="col-5">Id de la galerie :</div>
                                    <div class="col-6 p-0">{{ galerie.id }}</div>
                                </div>
                            </li>
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-heading"></i></div>
                                    <div class="col-5">Nom de la galerie :</div>
                                    <div class="col-6 p-0">{{ galerie.nom }}</div>
                                </div>
                            </li>
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-text"></i></div>
                                    <div class="col-5">Déscription de la galerie :</div>
                                    <div class="col-6 p-0">{{ galerie.descritpion }}</div>
                                </div>
                            </li>
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-tasks"></i></div>
                                    <div class="col-5">Catégorie de la galerie :</div>
                                    {# <div class="col-6 p-0">{{ galerieCategorie.nom }}</div> #}
                                </div>
                            </li>
                            <li class="list-group">
                                <div class="row mb-3">
                                    <div class="col-1 p-0 text-center"><i class="fad fa-images"></i></div>
                                    <div class="col-5">Liste des photos :</div>
                                    {# <div class="col-6 p-0">{{ galerieCategorie.nom }}</div> #}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}