<!-- Sidebar -->
            <aside class="col-md-4 hidden-sm hidden-xs pt-4" role="complementary">
                <!-- widget -->
                <div class="widget shadow">
                    <div class="text-center">
                        <img src="{{ asset('/images/alban.jpg') }}" width="140px" class="img-circle">
                        <ul class="list-group list-group-horizontal d-flex justify-content-center mt-3 ">
                            <li class="list-group-item mx-1 border-0 no-bg"><a class="fb"
                                    href="https://www.facebook.com/SEPalavoile/" target="_blank"></a></li>
                            <li class="list-group-item mx-1 border-0 no-bg"><a class="inst"
                                    href="https://www.instagram.com/sepalavoile/?hl=fr" target="_blank"></a></li>
                            <li class="list-group-item mx-1 border-0 no-bg"><a class="yt"
                                    href="https://www.youtube.com/channel/UCJ2l2tGkwyvrMzswiOUlj7A" target="_blank"></a>
                            </li>
                        </ul>
                        <h2 class="vert mb20">Alban JAILLAIS</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <!-- Fin widget -->

                <!-- widget -->
                <div class="widget shadow">
                    <h2 class="text-right">Catégories</h2>
                    <ul class="list-group">
                        <li>
                            <a href="{{ path('blog') }}">Toutes les articles</a>
                            <span class="orange">
                                ({{ articles|length }})
                            </span>
                        </li>
                        {% for category in category %}
                            <li>
                                <a href="{{ path('blog', { 'categoryId': category.id }) }}">{{ category.name }}</a>
                                <span class="orange">
                                    ({{ category.articles|length }})
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Fin widget -->

                <!-- widget TOP VUES-->
                <div class="widget shadow">
                    <h2 class="text-right">Top vues</h2>
                    <div class="topv">
                        {% for articleBestView in articleBestView %}
                        <div class="mb-2 mt-4">
                            <h5><a href="{{ path('article_show', {'id': articleBestView.id}) }}">{{ articleBestView.title }}</a></h5>
                        </div>
                        <span class="imgWrap mb-2">
                            <a href="{{ path('article_show', {'id': articleBestView.id}) }}">
                                {% if articleBestView.medias|first %}
                                <img id='articleImage' class="img-fluid" alt="Photo de l'article" src="{{ asset('/uploads/' ~ articleBestView.medias|first.nom ) }}" width="100%">
                                {% else %}
                                    <img id='articleImage' class="img-fluid" alt="Photo de l'article" src="{{ asset('/images/logo.svg') }}" width="100%">
                                {% endif %}
                            </a>
                        </span>
                        <span class="meta font-italic">Publié
                            le {{ articleBestView.createdAt|date('d/m/Y') }} - {{ articleBestView.nbVues }} vues
                        </span>
                        <hr class="mt-1 mb-1">
                        {% endfor %}
                    </div>
                </div>
                <!-- Fin widget -->

                <!-- widget DERNIERS COMMENTAIRES-->
                <div class="widget shadow">
                    <h2 class="text-right">Derniers commentaires</h2>
                    <div class="topv">
                    {% for commentaire in lastComments %}
                    <a href="{{ path('article_show', {'id': commentaire.article.id}) }}" style="text-decoration: none">
                        <div class="mb-2 mt-4">
                            <h5>{{ commentaire.article.title }}</h5>
                        </div>

                        <blockquote class="text-dark">
                            {{ commentaire.contenu|u.truncate(100, '...') }}
                        </blockquote>
                        <span class="meta font-italic">
                            Publié le {{ commentaire.article.createdAt|date('d/m/Y') }} - {{ commentaire.article.nbVues }} vues
                        </span>
                    </a>
                    <hr class="mt-1 mb-1">
                    {% endfor %}
                    </div>
                </div>
                <!-- Fin widget -->
            </aside>
            <!-- Fin Sidebar -->