{% extends 'base_dashboard.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div id="user-list" class="container-fluid">
        <h1>Liste des articles</h1>
        <div class="col-12  mt-5 mb-4">
            <a href="{{ path('article_new') }}" class="btn btn-style">Nouvel article</a>
        </div>
        <div class="table-responsive card px-2 py-2">
            <table id="example1" class="table table-bordered table-striped mx-2 my-2">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th width="10%">Actions</th>
                        <th>Titre</th>
                        <th width="25%">Contenu</th>
                        <th width="10%">ImageFile</th>
                        <th>Auteur</th>
                        <th>Categories</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Nombre de vue</th>
                        <th>PublishedDateStart</th>
                        <th>PublishedDateEnd</th>
                        <th>IsPublished</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="text-center">
                        <th>Id</th>
                        <th width="10%">Actions</th>
                        <th>Titre</th>
                        <th width="25%">Contenu</th>
                        <th width="10%">ImageFile</th>
                        <th>Auteur</th>
                        <th>Categories</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Nombre de vue</th>
                        <th>PublishedDateStart</th>
                        <th>PublishedDateEnd</th>
                        <th>IsPublished</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td class="text-center">
                            {{ article.id }}
                        </td>
                        <td class="text-center">
                            {# Modal pour voir un article #}
                            <a href="" type="button" class="m-0" data-toggle="modal" data-target="#showArticleModal{{ article.id }}">
                                <i class="fad fa-eye"></i>
                            </a>
                            <div class="modal fade text-left" id="showArticleModal{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="showArticleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title text-uppercase font-weight-bold">Consulter</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body font-weight-normal p-0">
                                            {% include "article/show.html.twig" %}
                                            {# {% include 'template.html' with {'foo': 'bar'} %} #}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Fin de la modal voir expérience #}

                            {# Lien pour modifier un événement #}
                            <a href="{{ path('article_edit', {'id': article.id}) }}">
                                <i class="fad fa-user-edit px-2 py-2"></i>
                            </a>
                            {# Fin lien pour modifier un événement #}

                            {# Modal pour supprimer un événement #}
                            <a href="" type="button" class="m-0" data-toggle="modal" data-target="#deleteArticleModal{{ article.id }}">
                                <i class="fad fa-trash-alt"></i>
                            </a>
                            <div class="modal fade text-left" id="deleteArticleModal{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title text-uppercase font-weight-bold">Suppression</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body font-weight-normal">
                                            <div class="col font-weight-bold">
                                                Titre : {{ article.title }}
                                            </div>
                                            <div class="modal-body font-weight-normal p-0">
                                                <div class="col">
                                                    Auteur {{ article.author }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                {% include "article/_delete_form.html.twig" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Fin de la modal supprimer événement #}
                        </td>
                        <td class="text-center">
                            {{ article.title }}
                        </td>
                        <td>
                            {{ article.content|u.truncate(230, '...')|raw }}
                        </td>
                        <td class="text-center">
                            {% if article.medias|first %}
                                <img id='articleImage' class="img-fluid" alt="Photo de l'article" src="{{ asset('/uploads/' ~ article.medias|first.nom ) }}">
                            {% else %}
                                <img id='articleImage' class="img-fluid" alt="Photo de l'article" src="{{ asset('/images/logo.svg') }}">
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {{ article.author }}
                        </td>
                        <td>
                            <ul class="text-none">
                            {% for articleCategorie in article.articleCategories %}
                                <li>
                                    {{ articleCategorie.name }}
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td class="text-center">
                            {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td class="text-center">
                            {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td class="text-center">
                            {{ article.nbVues }}
                        </td>
                        <td class="text-center">
                            {{ article.publishedDateStart ? article.publishedDateStart|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td class="text-center">
                            {{ article.publishedDateEnd ? article.publishedDateEnd|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td class="text-center">
                            {% if article.isPublished == 1 %}
                            <span class="alert alert-success">Oui</span>
                            {% else %}
                            <span class="alert alert-danger">Non</span>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas d'enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}