{% extends "carousel.html.twig" %}

{% block content %}
    <!-- ==================== SECTION TEXTE ===================== -->
    <div class="container">
        <div class="titresection">
            <h2>notre blog</h2>
        </div>
    </div>

    <div class="container">
        <!-- Row -->
        <div class="row">
            <section class="col-md-8 contenu mb-5" role="main">
                <!-- Row -->
                <div class="row">
                    <!-- Article -->
                    <article class="articlestyle m-top-articlestyle shadow">
                        {% if article.medias|first %}
                            <img id='articleImage' class="img-fluid" alt="Photo de l'article" src="{{ asset('/uploads/' ~ article.medias|first.nom ) }}" width="100%">
                        {% else %}
                            <img id='articleImage' class="img-fluid" alt="Photo de l'article" src="{{ asset('/images/logo.svg') }}" width="100%">
                        {% endif %}
                        {# <img src="{{ article.filename ? asset('/images/photoarticle/' ~ article.filename) : asset('/images/logo.svg') }}"  #}
                        {# <img src="{{ asset('/images/logo.svg') }}" width="100%"> #}
                        <p class="meta">
                            Publié le <strong>{{ article.createdAt|date('d/m/Y') }}</strong> par <strong>{{ article.author }}</strong> dans la rubrique 
                            {% for category in article.articleCategories %}
                                <a href="#">{{ category.name }}</a> - 
                            {% endfor %}
                            {{ article.nbVues}} vues
                        </p>
                        <h1>{{ article.title }}</h1>
                        <hr>
                        {{ article.content|raw }}
                        <hr>

                        <aside class="mt60">
                            <h2>Laisser un commentaire</h2>
                            {% if app.user %}
                                <div class="mb-5">
                                    {{ form_start(form) }}
                                        {{ form_widget(form)}}
                                        <button type="submit" class="btn btn-style">Envoyer</button>
                                    {{ form_end(form) }}
                                </div>
                            {% else %}
                                <div class="mt-4 mb-5"><a type="button" href="#" data-toggle="modal" data-target="#connexionModal">Connectez vous</a> pour laisser un message.</div>
                            {% endif %}
                            {% for commentaire in article.commentaires|sort((a, b) => a.createdAt <=> b.createdAt)|reverse %}
                                {% if commentaire.isPublished %}
                                    <div class="mt-4">

                                        <div>
                                            {{ commentaire.contenu }}
                                        </div>
                                    </div>
                                    <div class="meta text-right mb-2">
                                        {{ commentaire.user.nomComplet }}, le {{ commentaire.createdAt|date('d/m/Y') }}{% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_USER") and commentaire.user == app.user) %}



                                                <a class="btn btn-sm p-1" title="Modifier" data-toggle="collapse" href="#collapseModifierCommentaire{{ commentaire.id }}" role="button" aria-expanded="false" aria-controls="collapseModifierCommentaire{{ commentaire.id }}">
                                                    <i class="fad fa-comment-alt-edit fa-sm text-success" style="font-size: 1rem;"></i>
                                                </a>

                                                {# Modal pour supprimer un commentaire #}
                                                    <a href="" type="button" title="Supprimer" class="btn btn-sm p-1" data-toggle="modal" data-target="#deleteCommentaireModal{{ commentaire.id }}">
                                                        <i class="fad fa-comment-alt-times fa-sm text-danger" style="font-size: 1rem;"></i>
                                                    </a>
                                                    <div class="modal fade text-left" id="deleteCommentaireModal{{ commentaire.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentaireModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title text-uppercase font-weight-bold">Voulez-vous supprimer votre commentaire ?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body font-weight-normal">
                                                                    <div class="modal-body font-weight-normal">
                                                                        <div class="col">
                                                                            {{ commentaire.contenu }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                                        {% include "commentaire/_delete_form.html.twig" %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {# Fin de la modal supprimer un commentaire #}

                                            <div class="collapse mb-5" id="collapseModifierCommentaire{{ commentaire.id }}">
                                                {# <div class="card card-body border-none"> #}
                                                    {{ render (controller('App\\Controller\\CommentaireController::editProfile', {'id': commentaire.id })) }}
                                                {# </div> #}
                                            </div>

                                        {% endif %}
                                    </div>
                                {% endif %}
                                <hr class="m-0">
                            {% endfor %}
                        </aside>

                        <aside>
                            <hr class="mt-2 mb-50">
                            <h2>Articles les plus récents</h2>
                            <div class="row">
                                {% for articleRandom in articleRandom|slice(0, 3) %}
                                    <div class="col-md-4 col-sm-4 col-xs-4 p-2">
                                        <div class="text-center mb-3 pt-2" style="height:150px">
                                                <a href="{{ path('article_show', {'id': articleRandom.id}) }}">
                                                    {% if articleRandom.medias|first %}
                                                        <img id='articleImage' class="img-fluid align-self-center" alt="Photo de l'article" src="{{ asset('/uploads/' ~ articleRandom.medias|first.nom) }}" style="max-height:100%">
                                                    {% else %}
                                                        <img id='articleImage' class="img-fluid" alt="Photo de l'article" src="{{ asset('/images/logo.svg') }}">
                                                    {% endif %}
                                                </a>
                                        </div>
                                        <a href="{{ path('article_show', {'id': articleRandom.id}) }}">{{ articleRandom.title }}</a>
                                        <hr class="mt-1 mb-1">
                                        <span class="meta text-muted font-italic font-weight-light">Publié
                                        le {{ articleRandom.createdAt|date('d/m/Y') }} - {{ articleRandom.nbVues }} vues</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </aside>
                    </article>
                    <!-- Fin Article -->
                </div>
                <!-- Fin Row -->
            </section>
            {% include "article/aside_article.html.twig" %}
        </div>
        <!-- Fin Row -->
    </div>
    <!-- Fin container -->
{% endblock %}
